<div class="mt-3 p-3">
    <span><img src="assets/images/language.png" alt=""></span>
    <h3>{{'SECTION_RESUME.LANGUAGES' | translate}}</h3>
    <hr>
</div> 

<div class="content">

    <div class="content-progress" *ngFor="let language of languages">
        <div class="progress-bar" [style.background]="'radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(#007bff ' + language.percentage + '%, #d1ecf1 0)'">
            <progress value="0" min="0" max="100" style="visibility:hidden;height:0;width:0;"></progress>{{language.percentage}}%
        </div>
        <Span>{{language.technology}}</Span>
    </div>
   
</div>
