<!-- about-->
<section id="about" class="section">
    <div class="container">
        <div class="row" style="justify-content: center;">
            <div class="col-lg-4 col-sm-10 mb-4">
                <h3 class="font-weight-light">{{'SECTION_ABOUT.PRESENTATION' | translate}}</h3>
                <span class="line mb-5"></span>

                <div [innerHTML]="interest"></div>

                <button class="btn btn-outline-primary" (click)="downloadFile()"><i class="icon-down-circled2 "></i>{{'SECTION_ABOUT.DOWNLOAD' | translate}}</button>
            </div>
            <div class="col-1"></div>
            <div class="col-lg-4 col-sm-10">
                <h3 class="font-weight-light">{{'SECTION_ABOUT.INFO' | translate}}</h3>
                <span class="line mb-5"></span>
                <ul class="mt40 info list-unstyled">
                    <li><span class="font-weight-bold">{{'SECTION_ABOUT.BIRTHDATE' | translate}}</span> : {{user_info.birthdate.toLocaleDateString()}}</li>
                    <li><span class="font-weight-bold">{{'SECTION_ABOUT.EMAIL' | translate}}</span> : {{user_info.email}}</li>
                    <li><span class="font-weight-bold">{{'SECTION_ABOUT.PHONE' | translate}}</span> : {{user_info.phone}}</li>
                    <li><span class="font-weight-bold">{{'SECTION_ABOUT.WHATSAPP' | translate}}</span> : {{user_info.phone}}</li>
                    <li><span class="font-weight-bold">{{'SECTION_ABOUT.LOCATION' | translate}}</span> : {{user_info.city}} - {{user_info.country}} </li>
                </ul>
                <ul class="social-icons pt-3">
                    <li class="social-item"><a class="social-link" [href]="user_info.social_networks.facebook !== '' ? user_info.social_networks.facebook : '#'" target="_blank"><i class="icon-facebook" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link" [href]="user_info.social_networks.twitter !== '' ? user_info.social_networks.twitter : '#'" target="_blank"><i class="icon-twitter" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link" [href]="user_info.social_networks.linkedin !== '' ? user_info.social_networks.linkedin : '#'" target="_blank"><i class="icon-linkedin" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link" [href]="user_info.social_networks.instagram !== '' ? user_info.social_networks.instagram : '#'" target="_blank"><i class="icon-instagram" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link" [href]="user_info.social_networks.gitHub !== '' ? user_info.social_networks.gitHub : '#'" target="_blank"><i class="icon-github" aria-hidden="true"></i></a></li>
                </ul>  
            </div>
        </div>
    </div>
</section>
