<!--resume-->
<section class="section" id="resume">
    <div class="container">
        <h2 class="mb-3"><span class="text-primary">{{'GLOBAL.MY' | translate}}</span> {{'SECTION_RESUME.RESUME' | translate}}</h2>
        <div class="row">

            <div class="col-md-6 col-lg-4">
                <app-card title="{{'SECTION_RESUME.EXPERTISE' | translate}}" [data]="expertises" [icon]="'experience'"></app-card>
            </div>

            <div class="col-md-6 col-lg-4">
                <app-card title="{{'SECTION_RESUME.EDUCATION' | translate}}"  [data]="educations" [icon]="'training'"></app-card>
            </div>
            
            <div class="col-md-6 col-lg-4">
                <app-card-skill title="{{'SECTION_RESUME.SKILL' | translate}}" [skills]="skills" [icon]="'skill'"></app-card-skill>
                
                <app-card-skill title="{{'SECTION_RESUME.LANGUAGES' | translate}}" [skills]="languages" [icon]="'language'"></app-card-skill>
                
            </div>
            
        </div>
    </div>
</section>
