<div class="col-sm-12 col-md-6 col-lg-4 mt-2" *ngFor="let project of projects">
    <div class="card">
        <img src="assets/images/{{project.url_image}}" class="card-img-top" alt="project">
        <div class="card-body">
          <h5 class="card-title">{{project.title}}</h5>
          <p class="card-text">
            {{project.description}}
          </p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openModal(project.gallery,project.description,project.url_image)">{{'SECTION_PORTFOLIO.MORE' | translate}}</button>
        </div>
    </div>
</div>

  <app-modal-portfolio [project]="project" description="{{description}}" front_page="{{url_image}}" (dataEvent)="resetModal($event)" *appModal="reset"></app-modal-portfolio>

  

 


