
.carousel-control-prev-icon {
    background-color: rgb(181, 180, 180);
  }
  
  /* Cambia el color del ícono siguiente */
  .carousel-control-next-icon {
    background-color:  rgb(181, 180, 180);
  }

  .descript{
    margin-top: 10px;
    background-color: rgb(106, 105, 104);
    border-radius: 10px;
    text-align: center;

  }
  
