<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #modal>
    <div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetModal()"></button>
        </div>
        <div class="modal-body">
            <!--carousel-->
            <div id="carouselExampleIndicators" class="carousel slide">
                

                <div class="carousel-inner" >
                    <div class="carousel-item active">
                      <div class="d-flex align-items-center justify-content-center">
                          <img src="assets/images/{{front_page}}" class="portfolio-img img-fluid" alt="project">
                      </div>
            
                      <div class="descript">
                        <small style="color: #fff"> {{description}}</small>
                      </div>
                    </div>
  
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                
                <div class="carousel-inner" *ngFor="let pro of project">
                    <div class="carousel-item">
                        <div class="d-flex align-items-center justify-content-center">
                            <img src="assets/images/{{pro.url}}" class="portfolio-img img-fluid" alt="pro.title">
                        </div>
                        <div class="descript">
                            <small style="color: #fff"> {{pro.description}}</small>
                        </div>    
                    </div>
    
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                
            <!--end carousel-->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetModal()">{{'SECTION_PORTFOLIO.CLOSE' | translate}}</button>
        </div>
    </div>
    </div>
</div>
