/* Nav */
.bg-white {
    background-color: #fff !important;
  }
  nav ul li{
    font-size: 20px!important;
    font-weight: bold;
  }
  .navbar {
    box-shadow: 0 1px 10px rgba(54, 54, 54, 0.18);
    -webkit-box-shadow: 0 1px 10px rgba(54, 54, 54, 0.18);
  }
  
  nav .brand-img{
    border-radius: 50%;
    width: 150px;
  }
  
  @media (max-width: 1000px) {
    #navbarNav{
      margin-left: 10px;
    }
  }

  @media (max-width: 767.98px) {
  
    .navbar-nav img{
      display: none;
    }
  }
  /* End Nav */