
.background{
    background-image: url('../../../../assets/images/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    display: flex;
    flex-direction: column;
}

.body-cv{
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    
}

.sidebar{
    width: 30%;
    padding: auto;
    
}

.info{
    background-color: ghostwhite;
    width: 70%;   
}

.file{
    display: none;
}

@media(max-width:1000px){
    
    .sidebar{
        width: 95%;
        margin-bottom: 5px;
        
    }
    
    .info{
        width: 95%;
       
    }

    .body-cv{
        flex-direction: column;
        width: 100%;
    }
}


@media(max-width:1200px){
    .generate{
        display: none;
    }
    .file{
        display: contents;
    }
}